<div class="row g-4">
  <div class="search col-12">
    <input type="text" class="form-control w-75 mx-auto my-3" [(ngModel)]="term" placeholder="Search by title">
  </div>
  <div class="col-md-2" *ngFor="let product of ProductList|search:term">
   <div class="inner shadow-sm p-2 ">
    <div  [routerLink]="['/detailes',product._id]">
      <img [src]="product.imageCover" class="w-100" height="230"  [alt]="product.title">
    <h3 class="h5 green-text">{{product.title|splitPro}}</h3>
    <p>{{product.description|splitPro}}</p>
    <div class="d-flex justify-content-between align-items-center">
      <span>{{product.price}}EGP</span>
      <span><i class="fa-solid fa-star reating me-1"></i> {{product.ratingsAverage}}</span>
    </div>
    </div>

   <div class="d-flex justify-content-between align-items-center">
    <button class="main-btn w-75 me-auto" (click)="addToCart(product._id)">Add To cart</button>
    <div class="Fav">
      <div class="add" (click)="addProductToWishList(product._id)" *ngIf="!this.myData.includes(product._id)" ><!-- true -->
        <label for="add"><i class="fa-regular fa-heart fs-4 text-danger"></i></label>
      </div>
      <div class="remove" (click)="removeProductFromWishList(product._id)"  *ngIf="this.myData.includes(product._id)"><!-- false -->
        <label for="remove"><i class="fa-solid fa-heart fs-4 text-danger"></i></label>
      </div>

    </div>
   </div>
  </div>
  </div>
</div>
