<div class="row p-4">
  <div class="col-12">
    <div class="inner">
      <form [formGroup]="data" (submit)="hundelReset()">
        <div class="control-item">
          <input type="email" placeholder="Enter your email" class="form-control" formControlName="email">
          <div class=" alert alert-danger" *ngIf="data.touched && data.get('email')?.errors">
            <p class="p-0 m-0" *ngIf="data.get('email')?.getError('required')"
            >This Failed is Required</p>
            <p class="p-0 m-0" *ngIf="data.get('email')?.getError('email')"
            >Please enter valid email</p>
          </div>
          <button [disabled]="data.invalid" type="submit" class="mt-2 main-btn">Send code</button>
        </div>
      </form>
    </div>
  </div>
</div>
