:not(.btn-check)+.btn:active {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  border-color: rgb(71, 209, 43);
}
.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgb(71, 209, 43);
  --bs-btn-border-color: rgb(71, 209, 43);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #00ff2f;
  --bs-btn-hover-border-color: rgb(71, 209, 43);
  --bs-btn-focus-shadow-rgb: 130,138,145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #00ff2f;
  --bs-btn-active-border-color: #rgb(71, 209, 43);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.226);
}
.heart{
  cursor: pointer;
}
.layer{
  min-height:100vh ;
  width: 30%;
  position: absolute;
  z-index: 99999999;
  right: -30%;
  border-radius: 10px;
  padding: 15px;
  // display: none;
}

.btn-group, .btn-group-vertical {
  position: relative;
  display: inline;
  vertical-align: middle;
}
