<div class="container-fluid">
  <div class="row g-0 my-5">

    <div class="col-md-9">
      <div class="inner">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide><img src="assets/images/main-slider-1.jpeg" class="w-100" height="481" title="Chocolate"  alt="Chocolate"></ng-template>
          <ng-template carouselSlide><img src="assets/images/main-slider-2.jpeg" class="w-100" height="481" title="Vegtabels" alt="Vegtabels"></ng-template>
          <ng-template carouselSlide><img src="assets/images/main-slider-3.jpeg" class="w-100" height="481" title="grocery" alt="grocery"></ng-template>
        </owl-carousel-o>
      </div>
    </div>
    <div class="col-md-3">
      <div class="inner">
      <img src="assets/images/main-slider-1.jpeg" class="w-100" alt="Chocolate" title="Chocolate">
      <img src="assets/images/main-slider-2.jpeg" class="w-100" title="Vegtabels" alt="Vegtabels">
      </div>
    </div>
    <div class="col-12 mt-3">
      <div class="inner">
        <owl-carousel-o [options]="customOptionsTwo">
          <ng-container *ngFor="let slide of categ">
            <ng-template carouselSlide >
              <div class="cars"  [routerLink]="['/prodsOfCategory',slide._id]">
                 <img [src]="slide.image" [alt]="slide.name" [title]="slide.name" height="180" class="w-100 rounded-1">
                <h3 class="h6 mt-3 text-center">{{slide.name}}</h3></div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>

</div>
