<section class="my-5">
<app-slider></app-slider>
  <div class="row g-4 mb-5">
    <div class="col-md-12 my-5">
      <div class="inner ">
    <h2 class="green-text p-2 mx-auto my-4">Popular products</h2>
    <input type="text" class="form-control w-75 mx-auto" placeholder="Search by Title" [(ngModel)]="term">
      </div>
    </div>
    <div class="col-md-2" *ngFor="let item of (allProducts.slice(0,18))|search:term">
      <div class="inner shadow-sm p-2">
      <div [routerLink]="['/detailes',item._id]" class=" ">
        <img [src]="item.imageCover" class="w-100 rounded-4" [alt]="item.title">
        <h3 class="h5 green-text">{{item.title|splitPro}}</h3>
        <p>{{  item.category.name }}</p>
        <div class="d-flex justify-content-between align-items-center my-1">
          <span class=" fw-bold">{{item.price}} EGP</span>
          <div>
            <i class="fa-solid fa-star reating me-1"></i>
            <span class="text-muted">{{item.ratingsAverage}}</span>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <button class="main-btn me-auto w-75" (click)="addProductToCart(item._id)">Add To cart</button>
        <div class="Fav ms-auto">
          <div class="add" (click)="addProductToWishList(item._id)" *ngIf="!this.myData.includes(item._id)" ><!-- true -->
            <label for="add"><i class="fa-regular fa-heart fs-4 text-danger"></i></label>
          </div>
          <div class="remove" (click)="removeProductFromWishList(item._id)"  *ngIf="this.myData.includes(item._id)"><!-- false -->
            <label for="remove"><i class="fa-solid fa-heart fs-4 text-danger"></i></label>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
