<nav
  class="navbar navbar-expand-md navbar-light"
>
  <div class="container-fluid">
    <a class="navbar-brand text-capitalize" href="#"><img src="../../../assets/images/freshcart-logo.svg" alt=""></a>
  <button
    class="navbar-toggler d-lg-none"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  ></button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">

    <div class="social-icon ms-auto">
      <a href=""><i class="fa-brands fa-instagram" ></i></a>
      <a href=""><i class="fa-brands fa-facebook" ></i></a>
      <a href=""><i class="fa-brands fa-tiktok" ></i></a>
      <a href=""><i class="fa-brands fa-twitter" ></i></a>
      <a href=""><i class="fa-brands fa-linkedin" ></i></a>
      <a href=""><i class="fa-brands fa-youtube" ></i></a>
    </div>
    <div>
      <ul class="navbar-nav  text-capitalize">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="login">login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="register">register</a>
        </li>
      </ul>
    </div>
  </div>

  </div>
</nav>

