<table class="table text-center my-5">
  <thead>
    <th>Delivered</th>
    <th>Paid</th>
    <th>payment Method</th>
    <th> Price </th>
  </thead>
  <tbody class=" position-relative">
    <tr *ngFor="let order of orderList">
      <td><i *ngIf="!order.isDelivered" class="fa-solid fa-xmark text-danger"></i><i *ngIf="order.isDelivered" class="fa-solid fa-check green-text"></i></td>
      <td><i *ngIf="!order.isPaid" class="fa-solid fa-xmark text-danger"></i><i *ngIf="order.isPaid" class="fa-solid fa-check green-text"></i></td>
      <td class=" text-success">{{order.paymentMethodType}}</td>
      <td class=" text-success">{{order.totalOrderPrice}} EGP</td>
    </tr>

  </tbody>
</table>
